h2 {
  color: skyblue;
  text-decoration: underline;
}

body {
  font-family: monospace;
}

.jumbotron{
  font-weight: bolder !important;
  padding: 50px;
  box-shadow: 5px 7px 52px 0px rgba(0,0,0,0.75);
  h1 {
  text-shadow: 0px 1px 23px skyblue;
 }
}

.well {
  box-shadow: 5px 7px 52px 0px rgba(0,0,0,0.75);
  margin: 45px;
}
